<mat-card class="mat-elevation-z1">
  <!-- <img src="../../../../assets/covid.jpg" class="mat-card-image" /> -->
  <mat-card-content>
    <table class="table-style">
      <tr>
        <td class="card-left-header">Total Cases</td>
        <td class="card-right-header">World</td>
        <td class="card-right-header">{{ userCountry }}</td>
      </tr>
      <tr>
        <td>Confirmed:</td>
        <td class="highlight-text blue">{{ worldTotalConfirmed | number }}</td>
        <td class="highlight-text blue">
          {{ userCountryTotalConfirmed | number }}
        </td>
      </tr>
      <tr>
        <td>Deaths:</td>
        <td class="highlight-text red">{{ worldTotalDeaths | number }}</td>
        <td class="highlight-text red">
          {{ userCountryTotalDeaths | number }}
        </td>
      </tr>
      <tr>
        <td>Recovered:</td>
        <td class="highlight-text green">{{ worldTotalRecovered | number }}</td>
        <td class="highlight-text green">
          {{ userCountryTotalRecovered | number }}
        </td>
      </tr>
      <tr>
        <td>Confirmed/million:</td>
        <td class="highlight-text blue">
          {{ worldTotalConfirmedPerMillion | number }}
        </td>
        <td class="highlight-text blue">
          {{ userCountryConfirmedPerMillion | number }}
        </td>
      </tr>
    </table>
  </mat-card-content>
  <p>
    <span>
      <p class="card-footer-text">
        <mat-icon color="accent">calendar_today</mat-icon>
        {{ date | date }}
      </p>
      <div fxFlex></div>
      <div fxFlex></div>
      <a
        class="card-footer-text"
        href="https://coronavirus.jhu.edu/"
        target="_blank"
        rel="noreferrer"
        aria-label="link to Johns Hopkins coronavirus resource center"
      >
        <mat-icon color="accent">link</mat-icon> J.Hopkins
      </a>
    </span>
  </p>
</mat-card>
