.table-style {
  width: 100%;
  align-content: center;
  position: center;
}

.mat-card {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.mat-card > .mat-card-actions:last-child {
  margin: 0 0;
  padding: 0;
}

.mat-card-image {
  flex-shrink: 0;
  width: 100% !important;
  /* align-items: center; */
}

.card-left-header {
  text-align: left;
  font-weight: bold;
}

.card-right-header {
  text-align: right;
  font-weight: bold;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
  margin: 8px 0;
}

.highlight-text {
  font-weight: bolder;
  font-size: 16px;
  text-align: right;
}

.blue {
  color:blue;
}

.red {
  color: rgb(202, 17, 17);
}

.green {
  color: green;
}

.mat-icon {
  vertical-align: middle;
}

.card-footer-text {
  color: #0d47a1;
  margin: 8px 0;
  vertical-align: middle;
}
