.top-section {
  padding: 0 16px;
}

.sub-heading {
text-align: center;
}

.cases-radio-group {
  /* display: flex; */
  flex-direction: row;
  margin: 15px auto;
  align-content: center;
}

.cases-radio-button {
  margin: 5px;
}

.chart-container {
  max-width: 900px;
  margin: 0 auto;
}
