<head>
  <meta
    name="description"
    content="This page shows a charts of all countries with Covid-19 data."
  />
</head>

<div class="main-container">
  <div class="top-section">
    <h2 class="main-heading" fxHide.lt-md><mat-icon class="page-header-icon">analytics</mat-icon
      >Google Charts Covid Data</h2>

    <h2 id="cases-radio-group-label">Select Data Class</h2>
    <mat-radio-group
      aria-labelledby="cases-radio-group-label"
      class="cases-radio-group"
      [(ngModel)]="selectedClass"
    >
      <mat-radio-button
        class="cases-radio-button"
        *ngFor="let caseClass of caseClasses"
        [value]="caseClass"
        (click)="getChartData(caseClass)"
        aria-label="radio button select coronavirus type {{ caseClass }}"
      >
        {{ caseClass }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <!--Bottom Chart section-->
  <div
    *ngIf="chartDataArray[0]"
    class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
  >
    <!--Chart section lhs-->
    <div class="item-1" fxFlex="50%">
      <google-chart
        [type]="chart.PieChart"
        [data]="chartDataArray"
        [options]="chart.options"
        [title]="title"
        [height]="chart.height"
      ></google-chart>
    </div>

    <div class="item-2" fxFlex="50%" fxFlexOrder="2">
      <google-chart
        [type]="chart.ColumnChart"
        [data]="chartDataArray"
        [options]="chart.options"
        [columns]="columnNames"
        [title]="title"
        [height]="chart.height"
      ></google-chart>
    </div>
  </div>
</div>
