<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLinkActive="active-list-item" routerLink="/home">EmmaB</a>
    </mdb-navbar-brand>
    <links>
        <div class="navbar-nav">
            <a class="nav-item nav-link waves-light" routerLinkActive="active-list-item" routerLink="/about" mdbWavesEffect>About</a>
            <a class="nav-item nav-link waves-light" routerLinkActive="active-list-item" routerLink="/travel" mdbWavesEffect>Travel</a>
            <a class="nav-item nav-link waves-light" routerLinkActive="active-list-item" routerLink="/writings" mdbWavesEffect>Writings</a>
        </div>
    </links>
</mdb-navbar>
