<!--Navbar-->
	<!-- SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5" -->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-light bg-blue scrolling-navbar"
  [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<main>
	<div class="container" style="height: 1300px;"> 
		<!--Section: Features v.3-->
		<section class="section feature-box ">

			<!--Section heading-->
			<h2 class="h1 py-5 font-weight-bold text-center">Why is it so great?</h2>
			<!--Section description-->
			<p class="px-5 mb-3 pb-3 lead grey-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam.</p>

			<!--Grid row-->
			<div class="row pt-5">

				<!--Grid column-->
				<div class="col-lg-5 text-center text-lg-left">
					<img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0 animated bounce">
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-lg-7">

					<!--Grid row-->
					<div class="row pb-3">
						<div class="col-2 col-md-1">
							<i class="fas fa-reply fa-lg indigo-text"></i>
						</div>
						<div class="col-10">
							<h5 class="font-weight-bold text-left mb-3 dark-grey-text">Safety</h5>
							<p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Reprehenderit
								maiores nam, aperiam minima assumenda
								deleniti hic.</p>
						</div>
					</div>
					<!--Grid row-->

					<!--Grid row-->
					<div class="row pb-3">
						<div class="col-2 col-md-1">
							<i class="fas fa-reply fa-lg indigo-text"></i>
						</div>
						<div class="col-10">
							<h5 class="font-weight-bold text-left mb-3 dark-grey-text">Technology</h5>
							<p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Reprehenderit
								maiores nam, aperiam minima assumenda
								deleniti hic.</p>
						</div>
					</div>
					<!--Grid row-->

					<!--Grid row-->
					<div class="row pb-3">
						<div class="col-2 col-md-1">
							<i class="fas fa-reply fa-lg indigo-text"></i>
						</div>
						<div class="col-10">
							<h5 class="font-weight-bold text-left mb-3 dark-grey-text">Finance</h5>
							<p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Reprehenderit
								maiores nam, aperiam minima assumenda
								deleniti hic.</p>
						</div>
					</div>
					<!--Grid row-->

				</div>
				<!--Grid column-->

			</div>
			<!--Grid row-->

		</section>
		<!--Section: Features v.3-->

		<!-- Section: Team v.2 -->
		<section class="team-section text-center my-5">

			<!-- Section heading -->
			<h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
			<!-- Section description -->
			<p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
				eum porro a pariatur veniam.</p>

			<!-- Grid row -->
			<div class="row text-center">

				<!-- Grid column -->
				<div class="col-md-4 mb-md-0 mb-5">
					<div class="avatar mx-auto">
						<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
					</div>
					<h4 class="font-weight-bold dark-grey-text my-4">Maria Kate</h4>
					<h6 class="text-uppercase grey-text mb-3"><strong>Photographer</strong></h6>
					<!-- Facebook-->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
						<i class="fab fa-facebook-f"></i>
					</a>
					<!--Dribbble -->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
						<i class="fab fa-dribbble"></i>
					</a>
					<!-- Twitter -->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 mb-md-0 mb-5">
					<div class="avatar mx-auto">
						<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
					</div>
					<h4 class="font-weight-bold dark-grey-text my-4">Sexy Sue</h4>
					<h6 class="text-uppercase grey-text mb-3"><strong>Front-end Developer</strong></h6>
					<!--Email-->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
						<i class="fas fa-envelope"></i>
					</a>
					<!-- Facebook-->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
						<i class="fab fa-facebook-f"></i>
					</a>
					<!-- GitHub-->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
						<i class="fab fa-github"></i>
					</a>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4">
					<div class="avatar mx-auto">
						<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
					</div>
					<h4 class="font-weight-bold dark-grey-text my-4">Sarah Melyah</h4>
					<h6 class="text-uppercase grey-text mb-3"><strong>Web Developer</strong></h6>
					<!--Linkedin -->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li">
						<i class="fab fa-linkedin-in "></i>
					</a>
					<!-- Twitter -->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
						<i class="fab fa-twitter "></i>
					</a>
					<!--Pinterest -->
					<a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-pin">
						<i class="fab fa-pinterest "></i>
					</a>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</section>
		<!-- Section: Team v.2 -->

    <!-- Projects section v.3 -->
    <section class="my-5">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5">Our best projects</h2>
      <!-- Section description -->
      <p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
        voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
          <!--Image-->
          <img src="https://mdbootstrap.com/img/Photos/Others/images/83.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-book fa-2x cyan-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Education</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                aperiam
                minima elit assumenda
                voluptate velit.</p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-code fa-2x red-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Technology</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                aperiam
                minima elit assumenda
                voluptate velit.</p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">
            <div class="col-md-1 col-2">
              <i class="far fa-money-bill-alt fa-2x deep-purple-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Finance</h5>
              <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores
                nam,
                aperiam minima elit assumenda
                voluptate velit.</p>
            </div>
          </div>
          <!-- Grid row -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <hr class="my-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-7">

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-chart-bar fa-2x indigo-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Marketing</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                aperiam
                minima elit assumenda
                voluptate velit.</p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-music fa-2x pink-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Entertainment</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                aperiam
                minima elit assumenda
                voluptate velit.</p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row mb-lg-0 mb-5">
            <div class="col-md-1 col-2">
              <i class="far fa-smile fa-2x blue-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Communication</h5>
              <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores
                nam,
                aperiam minima elit assumenda
                voluptate velit.</p>
            </div>
          </div>
          <!-- Grid row -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-5">
          <!--Image-->
          <img src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Projects section v.3 -->

    <!-- Section: Blog v.2 -->
    <section class="text-center my-5">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold my-5">Recent posts</h2>
      <!-- Section description -->
      <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Category -->
          <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3"><i class="far fa-map pr-2"></i>Adventure</h6>
          </a>
          <!-- Post title -->
          <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
          <!-- Post data -->
          <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
          <!-- Excerpt -->
          <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
            quo minus id quod maxime placeat facere possimus voluptas.</p>
          <!-- Read more button -->
          <a mdbBtn color="pink" rounded="true" mdbWavesEffect>Read more</a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Category -->
          <a href="#!" class="deep-orange-text">
            <h6 class="font-weight-bold mb-3"><i class="fas fa-graduation-cap pr-2"></i>Education</h6>
          </a>
          <!-- Post title -->
          <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
          <!-- Post data -->
          <p>by <a class="font-weight-bold">Billy Forester</a>, 13/07/2018</p>
          <!-- Excerpt -->
          <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
            voluptatum deleniti atque corrupti quos dolores.</p>
          <!-- Read more button -->
          <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect>Read more</a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-0">

          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Category -->
          <a href="#!" class="blue-text">
            <h6 class="font-weight-bold mb-3"><i class="fas fa-fire pr-2"></i>Culture</h6>
          </a>
          <!-- Post title -->
          <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
          <!-- Post data -->
          <p>by <a class="font-weight-bold">Billy Forester</a>, 11/07/2018</p>
          <!-- Excerpt -->
          <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
            quia consequuntur magni dolores eos qui ratione.</p>
          <!-- Read more button -->
          <a mdbBtn color="info" rounded="true" mdbWavesEffect>Read more</a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Blog v.2 -->

	</div>
</main>


<router-outlet></router-outlet>
