<head>
  <meta
    name="description"
    content="Projects page shows some of my recent projects using Angular cards. Clicking on a card will show the project in more detail or navigate to the GitHub code or the app website."
  />
</head>
<div fxLayout="row wrap">
  <div
    fxFlex="25"
    fxFlex.md="33"
    fxFlex.sm="50"
    fxFlex.xs="100"
    fxLayout="column"
    style="padding: 5px;"
  >
    <app-home-card
      [totalConfirmed]="totalConfirmed"
      [totalRecovered]="totalRecovered"
      [totalDeaths]="totalDeaths"
      [date]="date"
    >

    </app-home-card>
   
  </div>
</div>
