.home-card-style {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 8px;
}

.home-tabs-style {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 4%;
}

.example-large-box {
  height: 200px;
  width: 400px;
}

.project-open-browser {
  background-color: green;
}
