<head>
  <meta
    name="description"
    content="Home page with Coronavirus data. Clicking on a card will show more detail."
  />
</head>

<div class="main-container">
  <!--Heading - only show on tablet or larger screens-->
  <div>
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <h2 class="page-header">
        <mat-icon class="page-header-icon">coronavirus</mat-icon>
        Covid-19 - Worldwide Cases
      </h2>
    </div>
  </div>
  <!--Cases info: worldwide & user country-->
  <div class="home-card-style">
    <app-home-card
      [userCountry]="userCountry"
      [worldTotalConfirmed]="worldTotalConfirmed"
      [worldTotalDeaths]="worldTotalDeaths"
      [worldTotalRecovered]="worldTotalRecovered"
      [worldTotalConfirmedPerMillion]="worldTotalConfirmedPerMillion"
      [userCountryTotalConfirmed]="userCountryTotalConfirmed"
      [userCountryTotalRecovered]="userCountryTotalRecovered"
      [userCountryTotalDeaths]="userCountryTotalDeaths"
      [userCountryTotalConfirmedPerMillion]="
        userCountryTotalConfirmedPerMillion
      "
      [dataCreatedDate]="dataCreatedDate"
    >
    </app-home-card>
  </div>
  <!--Tab group of charts-->
  <div class="home-tabs-style">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="Confirmed">
          <google-chart
            [type]="chart.PieChart"
            [data]="deadChartDataArray"
            [options]="chart.options"
            [title]="confirmedTitle"
            [height]="chart.height"
          ></google-chart
        ></mat-tab>
        <mat-tab label="Dead">
          <google-chart
            [type]="chart.PieChart"
            [data]="deadChartDataArray"
            [options]="chart.options"
            [title]="deadTitle"
            [height]="chart.height"
          ></google-chart
        ></mat-tab>
        <mat-tab label="Recovered">
          <google-chart
            [type]="chart.PieChart"
            [data]="recoveredChartDataArray"
            [options]="chart.options"
            [title]="recoveredTitle"
            [height]="chart.height"
          ></google-chart
        ></mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
