<div style="height: 100vh">
  <!-- Top Navbar sticks to top of screen -->
  <mat-toolbar color="primary" sticky>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxHide.gt-sm
      aria-label="drop-down menu button"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!--show 'Home' in top left nav bar when phone/tablet-sized screen-->
    <div fxHide.lt-md="true">
      <a
        class="top-nav-link"
        routerLink="/home"
        routerLinkActive="top-link-active"
        aria-label="home nav button"
        mat-button
      >
        <h2>Home</h2>
      </a>
    </div>

    <!--show page title info in nav bar on phone/tablet sized screens-->
    <div fxHide.gt-sm="true">
      <div *ngIf="isHomeRoute()">
        <a
          aria-label="home nav link active"
          [routerLink]="['/home']"
          routerLinkActive="top-link-active"
        >
          <mat-icon class="top-nav-icon">home</mat-icon>Home
        </a>
      </div>

      <!--page titles that appear in nav-bar in active color only when page is active-->
      <div *ngIf="isCountriesRoute()">
        <a
          aria-label="countries nav link active"
          [routerLink]="['/covid-countries']"
          routerLinkActive="top-link-active"
        >
          <mat-icon class="top-nav-icon">coronavirus</mat-icon>Covid Cases<span
            class="top-nav-date"
          >
            <mat-icon class="top-nav-title-icon">today</mat-icon
            >{{ todaysDate | date }}
          </span>
        </a>
      </div>
      <div *ngIf="isNewsRoute()">
        <a
          aria-label="covid news nav link active"
          [routerLink]="['/covid-news']"
          routerLinkActive="top-link-active"
        >
          <mat-icon class="top-nav-icon">article</mat-icon>Covid News ({{
            totalNewsItems
          }}
          Items)
        </a>
      </div>
      <div *ngIf="isNewsDetailRoute()">
        <a
          aria-label="covid news detail nav link active"
          [routerLink]="['/news-detail']"
          routerLinkActive="top-link-active"
        >
          News Detail<span class="top-nav-date">
            <mat-icon class="top-nav-title-icon" class="top-nav-title-icon"
              >today</mat-icon
            >{{ todaysDate | date }}
          </span>
        </a>
      </div>
      <div *ngIf="isChartsRoute()">
        <a
          aria-label="covid charts nav link active"
          [routerLink]="['/charts']"
          routerLinkActive="top-link-active"
        >
          <mat-icon class="top-nav-icon">analytics</mat-icon>Charts<span
            class="top-nav-date"
          >
            <mat-icon class="top-nav-title-icon" class="top-nav-title-icon"
              >today</mat-icon
            >{{ todaysDate | date }}
          </span>
        </a>
      </div>
      <div *ngIf="isAboutRoute()">
        <a
          aria-label="about nav link active"
          [routerLink]="['/about']"
          routerLinkActive="top-link-active"
        >
          <mat-icon class="top-nav-icon">coronavirus</mat-icon>App/Page
          Descriptions
        </a>
      </div>
      <div *ngIf="isContactRoute()">
        <a
          aria-label="contact nav link active"
          [routerLink]="['/contact']"
          routerLinkActive="top-link-active"
        >
          <mat-icon class="top-nav-icon">contact_mail</mat-icon>Author
          Github/Contact
        </a>
      </div>
    </div>

    <span class="example-spacer"></span>

    <div fxFlex fxLayout fxLayoutAlign="end">
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a
          class="top-nav-link"
          routerLink="/covid-countries"
          routerLinkActive="top-link-active"
          aria-label="covid news nav button"
          mat-button
          >Countries</a
        >
        <a
          class="top-nav-link"
          routerLink="/covid-news"
          routerLinkActive="top-link-active"
          aria-label="covid news nav button"
          mat-button
          >News</a
        >
        <a
          class="top-nav-link"
          routerLink="/charts"
          routerLinkActive="top-link-active"
          aria-label="covid charts nav button"
          mat-button
          >Charts</a
        >
        <a
          class="top-nav-link"
          routerLink="/about"
          routerLinkActive="top-link-active"
          aria-label="about nav button"
          mat-button
          >About</a
        >
        <a
          class="top-nav-link"
          routerLink="/contact"
          routerLinkActive="top-link-active"
          aria-label="contact nav button"
          mat-button
          >Contact</a
        >
        <a
          class="top-link-social"
          href="https://www.github.com/andrewjbateman"
          target="_blank"
          rel="noreferrer"
          >Github</a
        >
        <a
          class="top-link-social"
          href="https://www.linkedin.com/in/andrew-bateman"
          target="_blank"
          rel="noreferrer"
          >LinkedIn</a
        >
      </div>
    </div>
  </mat-toolbar>

  <!--Side navbar-->
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <h2 class="side-menu-header">
        <mat-icon class="side-nav-icon">coronavirus</mat-icon>Covid
      </h2>
      <mat-nav-list>
        <a
          mat-list-item
          class="side-nav-link"
          routerLink="/home"
          routerLinkActive="side-link-active"
          (click)="sidenav.toggle()"
        >
          <mat-icon class="side-nav-icon">home</mat-icon>Home
        </a>
        <a
          mat-list-item
          class="side-nav-link"
          routerLink="/covid-countries"
          routerLinkActive="side-link-active"
          (click)="sidenav.toggle()"
        >
          <mat-icon class="side-nav-icon">language</mat-icon>Countries
        </a>
        <a
          mat-list-item
          class="side-nav-link"
          routerLink="/covid-news"
          routerLinkActive="side-link-active"
          (click)="sidenav.toggle()"
        >
          <mat-icon class="side-nav-icon">article</mat-icon>News
        </a>
        <a
          mat-list-item
          class="side-nav-link"
          routerLink="/charts"
          routerLinkActive="side-link-active"
          (click)="sidenav.toggle()"
        >
          <mat-icon class="side-nav-icon">analytics</mat-icon>Charts
        </a>
        <hr class="horiz-line" />
        <a
          mat-list-item
          class="side-nav-link"
          routerLink="/about"
          routerLinkActive="side-link-active"
          (click)="sidenav.toggle()"
        >
          <mat-icon class="side-nav-icon">info</mat-icon>About
        </a>
        <a
          mat-list-item
          class="side-nav-link"
          routerLink="/contact"
          routerLinkActive="side-link-active"
          (click)="sidenav.toggle()"
        >
          <mat-icon class="side-nav-icon">contact_mail</mat-icon>Contact
        </a>
        <a
          mat-list-item
          class="side-link-social"
          href="https://www.github.com/andrewjbateman"
          target="_blank"
          rel="noreferrer"
        >
          <mat-icon class="side-nav-icon">open_in_new</mat-icon>Github
        </a>
        <a
          mat-list-item
          class="side-link-social"
          href="https://www.linkedin.com/in/andrew-bateman"
          target="_blank"
          rel="noreferrer"
        >
          <mat-icon class="side-nav-icon">open_in_new</mat-icon>LinkedIn
        </a>
        <a mat-list-item (click)="sidenav.toggle()">
          <mat-icon class="side-nav-icon">cancel</mat-icon>Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
