mat-icon {
  padding: 0 4px;
}

.top-nav-link {
  color: white;
  font-size: 14px;
}

.top-link-social {
  padding: 0 16px;
  font-size: 14px;
  color: #eaecf5;
}

.top-link-active {
  color: rgb(171, 220, 224);
  text-decoration: none;
  padding-left: 20px;
}

.side-nav-link {
  color: #455a64;
}

.side-link-social {
  padding: 16px 0;
}

.side-link-active {
  color: #008000;
  font-weight: bold;
}

.side-menu-header {
  padding: 18px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .1em;
  font-weight: 450;
  background-color: #008000;
}

.top-nav-text {
  margin: auto;
}
