<head>
  <meta name="description" content="This page shows a list of all countries with Covid-19 data." />
</head>

<div class="main-container">
  <!--Top section-->
  <div fxHide.lt-md>
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <h2 class="main-heading">
        <mat-icon class="page-header-icon"> today </mat-icon><span class="heading-date">{{ todayDate | date }}</span>
        Covid-19 - Country List
      </h2>
    </div>
  </div>

  <!--Table of countries-->
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <ng-container matColumnDef="country" class="mat-column-country">
      <th class="country-cell" mat-header-cell *matHeaderCellDef>Country</th>
      <td class="country-cell" mat-cell *matCellDef="let element">
        <div>
          <img class="country-flag" src="https://www.countryflagsapi.com/svg/{{ element.countryCode }}" alt="flag for {{ element.countryName }}" />
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="confirmed" class="mat-column-cases">
      <th class="cases-header" mat-header-cell *matHeaderCellDef>Confirmed</th>
      <div>
        <td mat-cell *matCellDef="let element">
          {{ element.totalConfirmed | number }}
        </td>
      </div>
    </ng-container>
    <ng-container matColumnDef="deaths" class="mat-column-cases">
      <th class="cases-header" mat-header-cell *matHeaderCellDef>Dead</th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalDeaths | number }}
      </td>
    </ng-container>
    <ng-container matColumnDef="recovered" class="mat-column-cases">
      <th class="cases-header" mat-header-cell *matHeaderCellDef>Recovered</th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalRecovered | number }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </mat-table>
</div>
