<head>
  <meta
    name="description"
    content="This page shows a list of all countries with Covid-19 data. Clicking on a country line will show more detail about that country"
  />
</head>

<div class="covid-countries-container">
  <!--Top section-->
  <!-- <div>
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <h2 class="main-heading">
        <mat-icon color="accent"> today </mat-icon
        ><span class="heading-date">{{ todayDate | date }}</span>
        Covid-19 - Total Cases
      </h2>
    </div>
  </div> -->

  <!--Table of countries-->
  <div class="example-container">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table">
      <ng-container matColumnDef="country" class="mat-column-country">
        <th class="country-cell" mat-header-cell *matHeaderCellDef>
          Country
        </th>
        <td class="country-cell" mat-cell *matCellDef="let element">
          <div *ngIf="element.countryCode !== 'OT'">
            <img
              class="country-flag"
              src="https://www.countryflags.io/{{
                element.countryCode
              }}/flat/24.png"
              alt="flag for {{ element.countryName }}"
            />
            {{ element.country }}
          </div>
          <div *ngIf="element.countryCode == 'OT'">
            <img
              class="country-flag"
              src="https://www.countryflags.io/GB/flat/16.png"
              alt="flag for Diamond Princess Cruise Ship"
            />
            <p *ngIf="element.countryCode == 'CF'">Central African Republic</p>
            <p *ngIf="element.countryCode !== 'CF'">{{ element.country }}</p>
          </div>
          <!-- <div class="text-sm leading-5 text-gray-500">
            {{ element.countryCode }}
          </div> -->
        </td>
      </ng-container>
      <ng-container matColumnDef="confirmed" class="mat-column-cases">
        <th class="cases-header" mat-header-cell *matHeaderCellDef>
          Confirmed
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalConfirmed | number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="deaths" class="mat-column-cases">
        <th class="cases-header" mat-header-cell *matHeaderCellDef>
          Deaths
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalDeaths | number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="recovered" class="mat-column-cases">
        <th class="cases-header" mat-header-cell *matHeaderCellDef>
          Recovered
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalRecovered | number }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </mat-table>
  </div>
</div>
