@import '~@angular/material/theming';

@include mat-core();
$angular-data-charts-warn: mat-palette($mat-red);
$angular-data-charts-theme: mat-light-theme((
  color: (
    primary: mat-palette($mat-blue-grey, 700),
    accent: mat-palette($mat-blue, 900),
  )
));

@include angular-material-theme($angular-data-charts-theme);
