html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-card-header-text {
  width: 100% !important;
}

.horiz-line {
  margin: 8px;
  border: 1px solid #008000;
}
