html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
  padding-top: 16px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-heading {
  text-align: center;
  color: #0d47a1;
  margin: 0 0 8px;
}

.page-header {
  text-align: center;
  color: #0d47a1;
}

.page-header-icon {
  transform: scale(1.5);
  color: #2e7d32;
  padding-right: 8px;
}

.mat-card-header-text {
  width: 100% !important;
}

.horiz-line {
  margin: 8px;
  border: 1px solid #2e7d32;
}
