<head>
  <meta
    name="description"
    content="This page shows a list of all countries with Covid-19 data. Clicking on a country line will show more detail about that country"
  />
</head>

<div class="covid-countries-container">
  <!--Top section-->
  <div>
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <h2 class="main-heading">
        <mat-icon color="accent" class="project-title-icon">
          language
        </mat-icon>
        Countries with Covid-19
      </h2>
    </div>
  </div>

  <!--Bottom section: mat-card for each area with data-binding from area.module.ts-->
  <!-- <div *ngFor="let country of data"> -->
  <div *ngFor="let country of countries">
    <mat-card>
      <mat-card-content>
        <p class="area-card-title">
          {{ country.countryName }}, {{ country.countryCode }}, lat:
          {{ country.lat }}, lng: {{ country.lng }}, confirmed:
          {{ country.confirmed }} deaths: {{ country.deaths }} recovered:
          {{ country.recovered }} date: {{ country.dataAsOf }}
        </p>
        <p class="area-card-content"></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
