.page-header {
  text-align: center;
  color: #0d47a1;
}

.page-header-icon {
  color: #008000;
}

/* page cards */
/* mat-card {
  padding: 16px;
} */

.about-card {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 4px;
  padding: 16px;
}

.page-card-icon {
  transform: scale(1.5);
  padding: 4px 8px 0 8px;
}

.page-card-title {
  color: #0d47a1;
  font-size: 20px;
}

.page-card-content {
  white-space: pre-wrap;
  padding: 0 8px;
}

.small-text {
  color: #0d47a1;
  font-size: 14px !important;
  margin-left: 8px;
}
